<div class="main-container">
  <div class="cai-list">
    <div class="cai-rc">
      <div class="cai-left">
        <a class="cai-live" href="http://218.94.38.211:33667/VJRCClient.html" target="_blank">远程连线客户端</a>
      </div>
      <div class="news-cont">
        <object width="100%" height="450px" id="VJTVPlayer" type="application/x-shockwave-flash" data="VJTVPlayer.swf">
          <param name="allowScriptAccess" value="sameDomain">
          <param name="allowFullScreen" value="true">
          <param name="quality" value="high">
          <param name="flashvars" value="src=vjms://218.94.38.211:8500:3502/live/cid=1|c01"> </object>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
