.main-container{
  width: 1024px;
  /*margin: 0 auto;*/
  background-color: red;
}
.cai-list {
  width: 100%;
  background-color: white;
  margin-top: -1%;
}
.cai-rc {
  width: 80%;
  margin-left: 10%;
  padding-top: 20px;
}
.cai-left {
  text-align: center;
  height: 68px;
  width: 21%;
  float: right;
  line-height: 70px;
  background: url("http://www.jsnjy.net.cn/images/icon_category_08.png");
}
.cai-live{
  color: #333;
  font-size: 20px;
  float: right;
}
