<div class="foot">
  <div class="container">
    <div class="foot-logo">
      <img src="http://www.jsnjy.net.cn/images/logo_njy_white.png" alt="">
    </div>
    <div class="foot-android">
      <img src="http://www.jsnjy.net.cn/images/img_code_android.png" alt="">
      <div class="foot-android-sao">
        <span style="color: #FFFFFF">扫一扫</span>
      </div>
      <div class="foot-android-download"><span style="color: #FFFFFF">安卓下载</span></div>
    </div>
    <div class="foot-ios">
      <img src="http://www.jsnjy.net.cn/images/img_code_ios.png" alt="">
      <div class="foot-ios-sao">
        <span style="color: #FFFFFF">扫一扫</span>
      </div>
      <div class="foot-ios-download"><span style="color: #FFFFFF">苹果下载</span></div>
    </div>
    <div style="clear: both;"></div>
  </div>
</div>
<div class="foot-copyright">
  <div class="copyright">
    <span>Copyright©2017 江苏农村经济杂志社 版权所有 <a href="http://www.miitbeian.gov.cn/" target="_blank" style="color:#FFFFFF;">苏ICP备06039616号-3</a> </span>
  </div>

</div>
