
.container {
  width: 1024px;
  height: auto;
  margin-left: 250px;
}
.cai-list {
  width: 100%;
  height: auto;
}
body, div, h1, h2, h3, h4, h5, h6, div, p, ul, li, span, input, textarea, select, a, hr {
  margin: 0;
  padding: 0;
}

.cai-rc {
  z-index: 99;
  width: 100%;
  margin-top: 10px;
  height: auto;
  margin-bottom: 30px;
  float: right;
  background-color: white;
}
.news-con {
  width: 100%;
  /*margin-bottom: 10px;*/
  list-style: none;

}
.news-con.li{
  width: 100%;
  border-bottom: 2px solid#fafafa;
  padding-top: 20px;
  padding-bottom: 20px;
}
