<div class="container-fluid">
  <form>
    <div class="input-group">
      <label for="account" id="basic-addon1" class="input-group-addon">用户名</label>
      <input id="account" type="text" placeholder="用户名" class="form-control" aria-describedby="basic-addon1" disabled>
    </div>


    <div class="input-group distance">
      <label for="education" class="input-group-addon" id="basic-addon2">学&nbsp;历</label>
      <input id="education" type="text" placeholder="用户名" class="form-control" aria-describedby="basic-addon2"disabled>
    </div>

    <div class="input-group distance">
      <label for="education" class="input-group-addon" id="basic-addon6">性别</label>
      <select class="form-control" aria-describedby="basic-addon6" disabled>
        <option>男</option>
        <option>女</option>
      </select>
    </div>

    <div class="input-group distance">
      <label for="education" class="input-group-addon" id="basic-addon7">身份</label>
      <select class="form-control" aria-describedby="basic-addon7" disabled>
        <option>科教管理人员</option>
        <option>农技推广人员</option>
      </select>
    </div>

    <div class="input-group distance">
      <label for="unit" class="input-group-addon" id="basic-addon3">单位名称</label>
      <input id="unit" type="text" placeholder="手机号码" class="form-control" value="18657782250" aria-describedby="basic-addon3" readonly="true">
    </div>

    <div class="input-group distance">
      <label for="phoneNumber" class="input-group-addon" id="basic-addon4">手机号</label>
      <input id="phoneNumber" type="text" placeholder="手机号码" class="form-control" value="18657782250" aria-describedby="basic-addon4" readonly="true">
    </div>

    <div class="input-group distance">
      <label for="email" class="input-group-addon" id="basic-addon5">邮箱</label>
      <input id="email" type="text" placeholder="手机号码" class="form-control" aria-describedby="basic-addon5" dis>
    </div>

    //三级联动菜单 地址

  </form>
</div>
