.user{
  width: 75%;
  padding-left: 4%;
  float: left;
  padding-bottom: 1%;
}
.user img,span{
  cursor: pointer;
}
.news-c {
  width: 75%;
  padding-left: 10.2%;
  float: left;

}
.news-c p {
  width: 75%;
  /*float: left;*/
  /* margin-left: 2%; */
  line-height: 26px;
  color: #808080;
}

.news-c p.news-tm {
  margin-top: 6%;
}
.e-img{
  float: right;
  width: 25%;
  overflow: hidden;
  height: 100px;
}
.e-img img{
  /*width: 150px;*/
  /*height:100px;*/
  max-width:150px;
}



