.ask1{
  padding-left: 4%;
  padding-right: 3%;
  list-style: none;
  border-bottom: 2px solid #fafafa;
  height: 145px;

}
.text-t{
  color: #808080;
  margin-bottom: 5px;
}
a{
  color: #333;
  text-decoration: none;
}
a:hover{
  color: rgb(69, 108, 144);
}
