
  <li *ngFor="let question of questions" class="ask1">
    <div style="float: left;padding-right: 20px;margin-top: 5px;">
      <img style="border-radius: 50%;width: 30px;height: 30px;" src="{{question.image_head}}">
    </div>
    <div class="text-t">
      <span>{{question.name}}</span>
      <span class="text-identity">&nbsp;{{question.identity}}</span>
    </div>
    <div class="text-t">{{question.homeland}}</div>
    <a [routerLink]="['../ask']" target="_blank">
      <div class="text-s" style="cursor: pointer;margin-top: 10px;height: 36px;" title="草鸡蛋什么价格啊？">
        {{question.question_title}}</div>
    </a>
    <div class="text-t" style="padding-top: 10px;">
      <div class="row">
        <img src="http://www.jsnjy.net.cn/images/icon_address.png" style="width: 1.3%;">{{question.loaction}}
      </div>
      <div class="text-t row" style="float: right;">{{question.reportTime}}, 已回答：{{question.readNum}}
      </div>
    </div>
  </li>



