li{
  width: 48%;
  float: left;

}
li:nth-child(odd){
  margin-right: 4%;
}
.img2{
  width: 100%;
  position: relative;
}
.v-title{
  height: 70px;
  background-color: #fafafa;
}
.v-title-right {
  width: 66%;
  line-height: 70px;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.con-text {
  width: 30%;
  float: left;
  line-height: 70px;
  color: #808080;
  text-align: center;
}
a{
color: rgb(128, 128, 128);
  text-decoration: none;
}
