.container{
  width: 1024px;
  height: auto;
}
.news-list{
  width: 100%;
  height: auto;
  margin-top: 10px;
}
.news-classfiy{
  z-index: 100;
  width: 28%;
  height: auto;
  float: left;
  background-color: #FFFFFF;
}
.news-classfiy h3{
  text-align: center;
  width: 42%;
  height: 64px;
  margin-left: 20%;
  color: black;
  line-height: 64px;
  background-image: url(http://www.jsnjy.net.cn/images/icon_category_08.png);
}
.news-classfiy .news-item{
  width: 100%;
  height: auto;
}
.news-text{
  z-index: 99;
  width: 70%;
  height: auto;
  margin-bottom: 30px;
  float: right;
  background-color: white;

}
.ul,li {
  list-style: none;
}

