<div>
  <li class="item"><span>首页头条</span></li>
  <li class="item"><span>应时农事</span></li>
  <div id="accordion" class="item">
      <span data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            农业科技
            <span class="glyphicon glyphicon-plus gly-location pull-right"></span>
          </span>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <li class="item"><span>果树</span></li>
        <li class="item"><span>生猪</span></li>
        <li class="item"><span>茶叶</span></li>
        <li class="item"><span>蚕桑</span></li>
        <li class="item"><span>花木</span></li>
        <li class="item"><span>植保</span></li>
        <li class="item"><span>加工制备</span></li>
        <li class="item"><span>农机制备</span></li>
        <li class="item"><span>小麦</span></li>
        <li class="item"><span>家禽</span></li>
        <li class="item"><span>特粮特经</span></li>
        <li class="item"><span>水产</span></li>
        <li class="item"><span>环境能源</span></li>
        <li class="item"><span>农产品质量</span></li>
        <li class="item"><span>农业信息化</span></li>
        <li class="item"><span>蔬菜</span></li>
        <li class="item"><span>家畜</span></li>
        <li class="item"><span>水稻</span></li>
      </div>
    </div>
  </div>
  <li class="item"><span>农业政策</span></li>
  <li class="item"><span>市场聚焦</span></li>
  <li class="item"><span>价格行情</span></li>
  <li class="item"><span>创业致富</span></li>
  <li class="item"><span>科教动态</span></li>
  <li class="item"><span>首页动态</span></li>
  <li class="item"><span>农业气象</span></li>
  <li class="item"><span>主推技术库</span></li>
  <div id="accordion2" class="item">
      <span data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2">
            畜禽品种库
            <span class="glyphicon glyphicon-plus gly-location pull-right"></span>
          </span>
    <div id="collapseOne2" class="panel-collapse collapse">
      <div class="panel-body">
        <li class="item"><span>猪</span></li>
        <li class="item"><span>羊</span></li>
        <li class="item"><span>蛋鸡</span></li>
        <li class="item"><span>肉鸡</span></li>
        <li class="item"><span>鸭</span></li>
        <li class="item"><span>鹅</span></li>
        <li class="item"><span>牛</span></li>
        <li class="item"><span>鸽</span></li>
        <li class="item"><span>兔</span></li>
        <li class="item"><span>其他</span></li>
      </div>
    </div>
  </div>
  <li class="item"><span>品牌农资动态</span></li>
  <li class="item"><span>专业合作</span></li>
  <li class="item"><span>乡村旅游</span></li>
  <li class="item"><span>生活服务</span></li>
</div>


