.li{
  line-height: 50px;
  text-indent: 2em;
  font-size: 16px;
  border-bottom: 2px solid #fafafa;
}
.item{
  line-height: 50px;
  text-indent: 2em;
  font-size: 16px;
  border-top: 2px solid #fafafa;
  border-bottom: 2px solid #fafafa;
  list-style: none;
}

.gly-location{
margin-top: 15px;
  font-size: 2px;
}
