<div class="container">
  <div class="col-md-6 col-md-offset-3 container-location panel">
    <div class="login-title">
      <div class="modal-title text-center">
        <h2 class="h2-theme">农技耘</h2>
      </div>
      <div class="text-center">
        <h4 class="h2-theme">播撒科技。不辍耕耘</h4>
      </div>
    </div>
    <form>
      <div class="form-group has-feedback">
        <label for="phoneNum">手机号码</label>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
          <input id="phoneNum" [(ngModel)]="register_phone" name="register_phone" class="form-control" placeholder="请输入手机号码" maxlength="11" type="text">
        </div>
        <span style="color:red;display: none;" class="tips"></span>
        <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
        <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
      </div>

      <div class="row">
        <div class="col-xs-7">
          <div class="form-group has-feedback">
            <label for="idcode-btn">校验码</label>
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-qrcode"></span></span>
              <input id="idcode-btn" class="form-control" placeholder="请输入校验码"  maxlength="6" type="text">
            </div>
            <span style="color:red;display: none;" class="tips"></span>
            <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
            <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
          </div>
        </div>
        <div class="col-xs-5 text-center" style="padding-top: 26px">
          <button type="button" id="loadingButton" class="btn btn-primary J_code" autocomplete="off" (click)="onSend()">获取短信校验码</button>
        </div>
      </div>

      <div class="form-group has-feedback">
        <label for="password">密码</label>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
          <input id="password" class="form-control" placeholder="请输入密码" maxlength="20" type="password">
        </div>

        <span style="color:red;display: none;" class="tips"></span>
        <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
        <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">
        <label for="passwordConfirm">确认密码</label>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
          <input id="passwordConfirm" class="form-control" placeholder="请再次输入密码" maxlength="20" type="password">
        </div>
        <span style="color:red;display: none;" class="tips"></span>
        <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
        <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
      </div>



      <div class="form-inline my-a-location ">
        <input class="form-control btn btn-primary col-md-offset-2" id="submit" value="立&nbsp;&nbsp;即&nbsp;&nbsp;注&nbsp;&nbsp;册" type="submit">
        <input value="重&nbsp;&nbsp;置" id="reset" class="form-control btn btn-danger col-lg-offset-3" type="reset">
      </div>
      <div class="row  text-center">
        <a target="_self" [routerLink]="['/login']" class="form-control  form-inline btn-success ">我已有账号，返回</a>
      </div>

    </form>
  </div>
</div>
